body {
    background-color: #d9d9d9ff;
    font-family: 'Josefin Sans', sans-serif;
}

.header1 {
    grid-area: header;
    background-color: #eeeeee;
    padding: 10px;
    text-align: center;
    font-size: 25px;
}

.footer {
    grid-area: footer;
    background-color: #eeeeee;
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
}

p {
    font-size: x-large;
}

.WITR_txt {
    float: left;
}

a {
    color: black;
}

iframe {
    align-content: center;
}

.three-car-drift {
    float: right;
}