body {
    background-color: #d9d9d9ff;
    font-family: 'Josefin Sans', sans-serif;
}

.header1 {
    grid-area: header;
    background-color: #eeeeee;
    padding: 1px;
    text-align: center;
    font-size: 25px;
    border-bottom: 1px;
}

.footer {
    grid-area: footer;
    background-color: #eeeeee;
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
}

a {
    color: black;
}

p {
    font-size: 24.2px;
}

.where {
    float: right;
}

.MPR {
    text-align: center;
}